


    

    <!--White Area-->
    <div class="container">
        <div class="row">
            <div class="column">
                <!-- appHoverdirective -->
                <h3 appHoverdirective>AFRICA</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolore eveniet doloribus, hic itaque
                    debitis ab ad. Laborum, quidem consectetur, ratione nostrum molestias quasi ipsum, quibusdam
                    doloribus neque debitis voluptate!</p>
                    <!-- appAlertdirective -->
                <a appAlertdirective href="#" class="btn btn-dark">Travel plans</a>
            </div>
            <div class="column">
                <img src="https://images.pexels.com/photos/70080/elephant-africa-african-elephant-kenya-70080.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Digital Marketing" class="img-fluid">
            </div>
        </div>

        <div class="row">
            <div class="column">
                <img src="https://images.pexels.com/photos/427679/pexels-photo-427679.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Another Image" class="img-fluid">
            </div>
            <div class="column">
                <!-- appHoverdirective -->
                <h3 appHoverdirective>LONDON</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus incidunt porro nulla rerum
                    debitis voluptate quia repellendus repudiandae obcaecati ullam quas, nesciunt vero enim mollitia, a
                    in nemo odit inventore.</p>
                    <!-- appAlertdirective -->
                <a appAlertdirective href="#" class="btn btn-dark">Travel plans></a>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <!-- appHoverdirective -->
                <h3 appHoverdirective>IRELAND</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis eum laboriosam voluptatum sapiente
                    ab illum ducimus debitis voluptas, tempora ratione voluptatibus excepturi modi ea necessitatibus
                    repudiandae molestias. Cupiditate, incidunt velit.</p>
                    <!-- appAlertdirective -->
                <a appAlertdirective href="#" class="btn btn-dark">Travel plans</a>
            </div>
            <div class="column">
                <img src="https://images.pexels.com/photos/2382681/pexels-photo-2382681.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Digital Marketing" class="img-fluid">
            </div>
        </div>

        <div class="row">
            <div class="column">
                <img src="https://images.pexels.com/photos/2363/france-landmark-lights-night.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Another Image" class="img-fluid">
            </div>
            <div class="column">
                <!-- appHoverdirective -->
                <h3 appHoverdirective>FRANCE</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, unde maxime ipsa, iste culpa iure
                    fugit facilis enim quis voluptate veniam maiores vero qui sequi exercitationem placeat dolor,
                    similique nisi?</p>
                    <!-- appAlertdirective -->
                <a appAlertdirective href="#" class="btn btn-dark">Travel plans</a>
            </div>
        </div>
    </div>

   



