<div class="container text-center mt-5">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/lifestyle-2.jpg" class="card-img-top rounded-circle mx-auto d-block" alt="..." style="width: 100px; height: 100px;">
      <div class="card-body">
        <h2 class="card-title">MELVIN SIBICHEN</h2>
        <h4 class="card-subtitle mb-2 text-muted">Frontend Developer</h4>
        <ul class="list-unstyled">
          <li><b>Phone:</b> +91 9207008545</li>
          <li><b>Email:</b> melvinsibichen1020@gmail.com</li>
          <li><b>Github:</b> <a href="https://github.com/melvinsibichen">github.com/melvinsibichen</a></li>
          <li><b>LinkedIn:</b> <a href="https://www.linkedin.com/in/melvinsibichen/">linkedin.com/in/melvinsibichen</a></li>
          <li><b>Date of Birth:</b> 28-10-1998</li>
          <li><b>Location:</b> Kerala</li>
        </ul>      
      </div>
    </div>
  </div>
  
