<!-- LATEST DESTINATIONS  starts-->
<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5 mb-5">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center mb-5">
            <!-- appHoverdirective -->
            <h1 appHoverdirective >LATEST DESTINATIONS</h1>
        </div>

        <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-center mt-5">

            <div class="card" style="width: 18rem; background-color: aquamarine;">
                <img height="200px" width="120px" class="rounded-circle mx-auto"
                    src="https://images.pexels.com/photos/2845013/pexels-photo-2845013.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <!-- appHoverdirective -->
                    <h5 appHoverdirective class="card-title">AUSTRALIA</h5>
                    <p class="card-text">Catalysing digital disruption in industrial & energy segment</p>

                </div>
            </div>
        </div>

        <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-center mt-5">

            <div class="card" style="width: 18rem; background-color: rgb(62, 160, 160);">
                <img height="200px" width="120px" class="rounded-circle mx-auto"
                    src="https://images.pexels.com/photos/1586205/pexels-photo-1586205.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <!-- appHoverdirective -->
                    <h5 appHoverdirective  class="card-title">CHINA</h5>
                    <p class="card-text">End-to-end services and solutions for Automotive, Locomotive and Aerospace</p>

                </div>
            </div>
        </div>

        <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-center mt-5">

            <div class="card" style="width: 18rem; background-color: aquamarine;">
                <img height="200px" width="120px" class="rounded-circle mx-auto"
                    src="https://images.pexels.com/photos/16331753/pexels-photo-16331753/free-photo-of-taj-mahal-agra-uttar-pradesh-india.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <!-- appHoverdirective -->
                    <h5 appHoverdirective class="card-title">INDIA</h5>
                    <p class="card-text">End-to-end services and solutions to top global healthcare providers, OEMs and
                        medical device majors</p>

                </div>
            </div>
        </div>

        <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-center mt-5">

            <div class="card" style="width: 18rem; background-color: rgb(62, 160, 160);">
                <img height="200px" width="120px" class="rounded-circle mx-auto"
                    src="https://images.pexels.com/photos/2082103/pexels-photo-2082103.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <!-- appHoverdirective -->
                    <h5 appHoverdirective class="card-title">PARIS</h5>
                    <p class="card-text">Providing cutting edge digital solutions to global banks and financial
                        institutions</p>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- LATEST DESTINATIONS  ENDS-->







<!-- Single Product Start -->
<div class="container-fluid py-5">
    <div class="container py-5">

        <div class="row g-4">
            <div class="col-lg-8">
                <div class="mb-4">
                    <!-- customdirective color   -->
                    <h2 appCustomDirective>General Travel Tips and Resources</h2>
                </div>
                <div class="position-relative rounded overflow-hidden mb-3">
                    <img src="https://images.pexels.com/photos/3769138/pexels-photo-3769138.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-zoomin img-fluid rounded w-100" alt="">
                    <div (click)="locationComponent()" class="position-absolute text-white px-4 py-2 bg-primary rounded"
                        style="top: 20px; right: 20px;">
                        See Locations
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="#" class="text-dark link-hover me-3"><i class="fa fa-clock"></i> 06 minute read</a>
                    <a href="#" class="text-dark link-hover me-3"><i class="fa fa-eye"></i> 3.5k Views</a>
                    <a href="#" class="text-dark link-hover me-3"><i class="fa fa-comment-dots"></i> 05 Comment</a>
                    <a href="#" class="text-dark link-hover"><i class="fa fa-arrow-up"></i> 1.5k Share</a>
                </div>
                <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque impedit odit a, explicabo repellat et, incidunt quo soluta aut earum officiis fuga blanditiis autem corrupti consectetur. Illo rerum commodi consectetur.
                </p>
                <p class="my-4">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum sunt sapiente provident ducimus rem? Natus perspiciatis enim soluta nulla dignissimos blanditiis qui officiis repellat, quaerat nisi? Voluptas, pariatur! Ipsa, exercitationem?
                </p>
                <div class="bg-light p-4 mb-4 rounded border-start border-3 border-primary">
                    <!-- customdirective color -->
                    <h1 appCustomDirective class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit t ducimus rem? Natus perspiciatis enim soluta nulla dignissimos . </h1>
                </div>
                <div class="row g-4">
                    <div class="col-6">
                        <div class="rounded overflow-hidden">
                            <img src="https://images.pexels.com/photos/764798/pexels-photo-764798.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-zoomin img-fluid rounded w-100" alt="">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="rounded overflow-hidden">
                            <img src="https://images.pexels.com/photos/1174732/pexels-photo-1174732.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-zoomin img-fluid rounded w-100" alt="">
                        </div>
                    </div>
                </div>
                <p class="my-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore quas, voluptate nobis eos facere enim cupiditate molestias? Aperiam id impedit, at aliquam natus, vel ipsa placeat consequuntur itaque quos laudantium!
                </p>
                <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, eveniet quod! Enim fuga commodi doloremque perspiciatis inventore! Ex dolorum enim quaerat cum totam dolore tempore consequuntur, tenetur sunt consequatur fuga?
                </p>
                <div class="d-flex">
                    <div class="me-2">
                        <span class="fas fa-check-circle mb-3 fs-5"> Lorem ipsum dolor  amet consectetur</span>
                        <span class="fas fa-check-circle mb-3 fs-5"> Lorem ipsum dolor  amet consectetur</span>
                        <span class="fas fa-check-circle mb-3 fs-5"> Lorem ipsum dolor  amet consectetur</span>
                    </div>
                    <div class="ms-2">
                        <span class="fas fa-check-circle mb-3 fs-5"> Lorem ipsum dolor  amet consectetur</span>
                        <span class="fas fa-check-circle mb-3 fs-5"> Lorem ipsum dolor  amet consectetur</span>
                        <span class="fas fa-check-circle mb-3 fs-5"> Lorem ipsum dolor  amet consectetur</span>
                    </div>
                </div>
                <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, necessitatibus. Reiciendis, sapiente. Ab, ipsum nulla, blanditiis sapiente ut asperiores ullam veritatis culpa quo, vero laborum similique odio dolorum in repellendus?
                </p>
                <div class="tab-class">
                    <div class="d-flex justify-content-between border-bottom mb-4">
                        <ul class="nav nav-pills d-inline-flex text-center">
                            <li class="nav-item mb-3">
                                <h5 class="mt-2 me-3 mb-0">Tags:</h5>
                            </li>
                            <li class="nav-item mb-3">
                                <a class="d-flex py-2 bg-light rounded-pill active me-2">
                                    <span class="text-dark" style="width: 100px;">Partner</span>
                                </a>
                            </li>
                            <li class="nav-item mb-3">
                                <a class="d-flex py-2 bg-light rounded-pill me-2">
                                    <span class="text-dark" style="width: 100px;">Flight</span>
                                </a>
                            </li>
                            <li class="nav-item mb-3">
                                <a class="d-flex py-2 bg-light rounded-pill me-2" >
                                    <span class="text-dark" style="width: 100px;">Travel</span>
                                </a>
                            </li>
                        </ul>
                        <div class="d-flex align-items-center">
                            <h5 class="mb-0 me-3">Share:</h5>
                            <i
                                class="fab fa-facebook-f link-hover btn btn-square rounded-circle border-primary text-dark me-2"></i>
                            <i
                                class="btn fab bi-twitter link-hover btn btn-square rounded-circle border-primary text-dark me-2"></i>
                            <i
                                class="btn fab fa-instagram link-hover btn btn-square rounded-circle border-primary text-dark me-2"></i>
                            <i
                                class="btn fab fa-linkedin-in link-hover btn btn-square rounded-circle border-primary text-dark"></i>
                        </div>
                    </div>



                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show active">
                            <div class="row g-4 align-items-center">
                                <div class="col-3">
                                    <img src="https://images.pexels.com/photos/3778680/pexels-photo-3778680.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-fluid w-100 rounded" alt="">
                                </div>
                                <div class="col-9">
                                    <h3>Melvin Sibichen</h3>
                                    <h6>Author</h6>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor pariatur magnam ipsam accusantium repellendus sunt itaque quae eius facere, doloribus consequatur aliquid, harum soluta, a temporibus ipsa culpa molestias rerum.
                                    </p>
                                    <button (click)="authorComponent()">View Author</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="bg-light rounded p-4">
                    <!-- appCustomDirective -->
                    <h4  appCustomDirective class="mb-4">Comments</h4>
                    <div class="p-4 bg-white rounded mb-4">
                        <div class="row g-4">
                            <div class="col-3">
                                <img src="../../assets/img/footer-3.jpg" class="img-fluid rounded-circle w-100" alt="">
                            </div>
                            <div class="col-9">
                                <div class="d-flex justify-content-between">
                                    <h5>Abilash George</h5>
                                    <a href="#" class="link-hover text-body fs-6"><i
                                            class="fas fa-long-arrow-alt-right me-1"></i> Reply</a>
                                </div>
                                <small class="text-body d-block mb-3"><i class="fas fa-calendar-alt me-1"></i> Dec
                                    9, 2024</small>
                                <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum has
                                    been the industry's standard dummy type and scrambled it to make a type specimen
                                    book. It has survived not only five centuries, but also the leap into electronic
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 bg-white rounded mb-0">
                        <div class="row g-4">
                            <div class="col-3">
                                <img src="../../assets/img/footer-4.jpg" class="img-fluid rounded-circle w-100" alt="">
                            </div>
                            <div class="col-9">
                                <div class="d-flex justify-content-between">
                                    <h5>James Mathew</h5>
                                    <a href="#" class="link-hover text-body fs-6"><i
                                            class="fas fa-long-arrow-alt-right me-1"></i> Reply</a>
                                </div>
                                <small class="text-body d-block mb-3"><i class="fas fa-calendar-alt me-1"></i> Dec
                                    9, 2024</small>
                                <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum has
                                    been the industry's standard dummy type and scrambled it to make a type specimen
                                    book. It has survived not only five centuries, but also the leap into electronic
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="p-3 rounded border">
                            <div class="input-group w-100 mx-auto d-flex mb-4">
                                <input type="search" class="form-control p-3" placeholder="keywords"
                                    aria-describedby="search-icon-1">
                                <span id="search-icon-1" class="btn btn-primary input-group-text p-3"><i
                                        class="fa fa-search text-white"></i></span>
                            </div>
                            <h4 class="mb-4">Popular Searches</h4>
                            <div class="row g-2">
                                <div class="col-12">
                                    <a href="#"
                                        class="link-hover btn btn-light w-100 rounded text-uppercase text-dark py-3">
                                        8 Budget Vacation Ideas
                                    </a>
                                </div>
                                <div class="col-12">
                                    <a href="#"
                                        class="link-hover btn btn-light w-100 rounded text-uppercase text-dark py-3">
                                        Favorite Hostels
                                    </a>
                                </div>
                                <div class="col-12">
                                    <a href="#"
                                        class="link-hover btn btn-light w-100 rounded text-uppercase text-dark py-3">
                                        Ultimate Packing Guide
                                    </a>
                                </div>
                                <div class="col-12">
                                    <a href="#"
                                        class="link-hover btn btn-light w-100 rounded text-uppercase text-dark py-3">
                                        Solo Female Travel Tips
                                    </a>
                                </div>
                                <div class="col-12">
                                    <a href="#"
                                        class="link-hover btn btn-light w-100 rounded text-uppercase text-dark py-3">
                                        Tips for New Travelers
                                    </a>
                                </div>
                                <div class="col-12">
                                    <a href="#"
                                        class="link-hover btn btn-light w-100 rounded text-uppercase text-dark py-3 mb-4">
                                        travel & tourism
                                    </a>
                                </div>
                            </div>
                            <!-- appAutofocus -->
                            <h4 appAutofocus class="my-4">Stay Connected</h4>
                            <div class="row g-4">
                                <div class="col-12">
                                    <a href="#"
                                        class="w-100 rounded btn btn-primary d-flex align-items-center p-3 mb-2">
                                        <i class="fab fa-facebook-f btn btn-light btn-square rounded-circle me-3"></i>
                                        <span class="text-white">13,977 Fans</span>
                                    </a>
                                    <a href="#" class="w-100 rounded btn btn-danger d-flex align-items-center p-3 mb-2">
                                        <i class="fab fa-twitter btn btn-light btn-square rounded-circle me-3"></i>
                                        <span class="text-white">21,798 Follower</span>
                                    </a>
                                    <a href="#"
                                        class="w-100 rounded btn btn-warning d-flex align-items-center p-3 mb-2">
                                        <i class="fab fa-youtube btn btn-light btn-square rounded-circle me-3"></i>
                                        <span class="text-white">7,999 Subscriber</span>
                                    </a>
                                    <a href="#" class="w-100 rounded btn btn-dark d-flex align-items-center p-3 mb-2">
                                        <i class="fab fa-instagram btn btn-light btn-square rounded-circle me-3"></i>
                                        <span class="text-white">19,764 Follower</span>
                                    </a>
                                    <a href="#"
                                        class="w-100 rounded btn btn-secondary d-flex align-items-center p-3 mb-2">
                                        <i class="bi-cloud btn btn-light btn-square rounded-circle me-3"></i>
                                        <span class="text-white">31,999 Subscriber</span>
                                    </a>
                                    <a href="#"
                                        class="w-100 rounded btn btn-warning d-flex align-items-center p-3 mb-4">
                                        <i class="fab fa-dribbble btn btn-light btn-square rounded-circle me-3"></i>
                                        <span class="text-white">37,999 Subscriber</span>
                                    </a>
                                </div>
                            </div>
                            <h4 class="my-4">Popular Treking Spots</h4>
                            <div class="row g-4">
                                <div class="col-12">
                                    <div class="row g-4 align-items-center features-item">
                                        <div class="col-4">
                                            <div class="rounded-circle position-relative">
                                                <div class="overflow-hidden rounded-circle">
                                                    <img src="https://media.istockphoto.com/id/1255322583/photo/an-asian-chinese-family-of-2-children-walking-and-hiking-in-tropical-rain-forest-during.jpg?s=1024x1024&w=is&k=20&c=hH3-P62W-5r6L08lZ7QwFLpMssXx8jZ7iXvDXs7JQU0="
                                                        class="img-zoomin img-fluid rounded-circle w-100" alt="">
                                                </div>
                                                <span
                                                    class="rounded-circle border border-2 border-white bg-primary btn-sm-square text-white position-absolute"
                                                    style="top: 10%; right: -10px;">3</span>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="features-content d-flex flex-column">
                                                <p class="text-uppercase mb-2">INCA TRAIL, MACHU PICCHU</p>
                                                <a href="#" class="h6">
                                                    15 km (9.3 miles) for the one day hike
                                                </a>
                                                <small class="text-body d-block"><i
                                                        class="fas fa-calendar-alt me-1"></i> December 9,
                                                    2024</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row g-4 align-items-center features-item">
                                        <div class="col-4">
                                            <div class="rounded-circle position-relative">
                                                <div class="overflow-hidden rounded-circle">
                                                    <img src="https://media.istockphoto.com/id/1425281715/photo/young-woman-with-backpack-hiking-outdoors.jpg?s=1024x1024&w=is&k=20&c=o4gRyoQrJMZ8EyOz3uhKsdWBU_VdKUKRyVanBYAZghk="
                                                        class="img-zoomin img-fluid rounded-circle w-100" alt="">
                                                </div>
                                                <span
                                                    class="rounded-circle border border-2 border-white bg-primary btn-sm-square text-white position-absolute"
                                                    style="top: 10%; right: -10px;">3</span>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="features-content d-flex flex-column">
                                                <p class="text-uppercase mb-2">TROLLTUNGA</p>
                                                <a href="#" class="h6">
                                                    incredibly scenic hike
                                                </a>
                                                <small class="text-body d-block"><i
                                                        class="fas fa-calendar-alt me-1"></i> December 9,
                                                    2024</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row g-4 align-items-center features-item">
                                        <div class="col-4">
                                            <div class="rounded-circle position-relative">
                                                <div class="overflow-hidden rounded-circle">
                                                    <img src="https://media.istockphoto.com/id/1468908187/photo/man-relaxing-on-hiking-trip-in-the-mountains.jpg?s=1024x1024&w=is&k=20&c=RbSfxZ9p_YDus-ofycse94525Da-SOyJT6HaJrFHT64="
                                                        class="img-zoomin img-fluid rounded-circle w-100" alt="">
                                                </div>
                                                <span
                                                    class="rounded-circle border border-2 border-white bg-primary btn-sm-square text-white position-absolute"
                                                    style="top: 10%; right: -10px;">3</span>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="features-content d-flex flex-column">
                                                <p class="text-uppercase mb-2">THE ZION NARROWS</p>
                                                <a href="#" class="h6">
                                                    Difficulty: Moderate to Strenuous
                                                </a>
                                                <small class="text-body d-block"><i
                                                        class="fas fa-calendar-alt me-1"></i> December 9,
                                                    2024</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row g-4 align-items-center features-item">
                                        <div class="col-4">
                                            <div class="rounded-circle position-relative">
                                                <div class="overflow-hidden rounded-circle">
                                                    <img src="https://media.istockphoto.com/id/1443409611/photo/man-on-stone-on-the-hill-and-beautiful-mountains-in-haze-at-colorful-sunset-in-autumn.jpg?s=1024x1024&w=is&k=20&c=_kr-m_0O3Z7T8Nc5z2RbbdBZBlX6f2y9i0UvVMEBYYk="
                                                        class="img-zoomin img-fluid rounded-circle w-100" alt="">
                                                </div>
                                                <span
                                                    class="rounded-circle border border-2 border-white bg-primary btn-sm-square text-white position-absolute"
                                                    style="top: 10%; right: -10px;">3</span>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="features-content d-flex flex-column">
                                                <p class="text-uppercase mb-2">Life Style</p>
                                                <a href="#" class="h6">
                                                    Stretching across southern Utah
                                                </a>
                                                <small class="text-body d-block"><i
                                                        class="fas fa-calendar-alt me-1"></i> December 9,
                                                    2024</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <!-- appAlertdirective -->
                                    <a appAlertdirective href="#"class="link-hover btn border border-primary rounded-pill text-dark w-100 py-3 mb-4">View  More</a>
                                </div>
                                <div class="col-lg-12">
                                    <div class="border-bottom my-3 pb-3">
                                        <h4 class="mb-0">Camping Options</h4>
                                    </div>
                                    <ul class="nav nav-pills d-inline-flex text-center mb-4">
                                        <li class="nav-item mb-3">
                                            <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                                                <span class="text-dark link-hover" style="width: 90px;">Lifestyle</span>
                                            </a>
                                        </li>
                                        <li class="nav-item mb-3">
                                            <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                                                <span class="text-dark link-hover" style="width: 90px;">Airbins</span>
                                            </a>
                                        </li>
                                        <li class="nav-item mb-3">
                                            <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                                                <span class="text-dark link-hover" style="width: 90px;">Hotels</span>
                                            </a>
                                        </li>
                                        <li class="nav-item mb-3">
                                            <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                                                <span class="text-dark link-hover" style="width: 90px;">Home
                                                    Stays</span>
                                            </a>
                                        </li>
                                        <li class="nav-item mb-3">
                                            <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                                                <span class="text-dark link-hover" style="width: 90px;">Hostels</span>
                                            </a>
                                        </li>
                                        <li class="nav-item mb-3">
                                            <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                                                <span class="text-dark link-hover" style="width: 90px;">Tent Stay</span>
                                            </a>
                                        </li>
                                        <li class="nav-item mb-3">
                                            <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                                                <span class="text-dark link-hover" style="width: 90px;">Travel
                                                    Vans</span>
                                            </a>
                                        </li>
                                        <li class="nav-item mb-3">
                                            <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                                                <span class="text-dark link-hover" style="width: 90px;">OYO</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-12">
                                    <div class="position-relative banner-2">
                                        <img src="https://images.pexels.com/photos/572689/pexels-photo-572689.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                            class="img-fluid w-100 rounded" alt="">
                                        <div class="text-center banner-content-2">
                                            <h6 class="mb-2">The Most Populer Destination</h6>
                                            <p class="text-black  mb-2">New ZeaLand</p>
                                            <!-- appAlertdirective -->
                                            <a appAlertdirective href="#" class="btn btn-primary text-white px-4" (click)="planComponent()">Plan Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Product End -->


















<!-- Banner Start -->
<div class="container-fluid py-5 my-5"
    style="background: linear-gradient(rgba(202, 203, 185, 1), rgba(202, 203, 185, 1));">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-lg-7">
                <h1 class="mb-4 text-primary">ENQUIRES</h1>
                <h1 class="mb-4">GET YOUR TRAVEL PLANS</h1>
                <p class="text-dark mb-4 pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, hic
                    voluptatibus tenetur in accusamus atque exercitationem deserunt? Voluptatum sit officiis porro
                    placeat, minus commodi aperiam deleniti animi, distinctio cum optio?
                </p>
                <div class="position-relative mx-auto">
                    <input class="form-control w-100 py-3 rounded-pill" type="email" placeholder="Your Busines Email">
                    <button appAlertdirective type="submit"
                        class="btn btn-primary py-3 px-5 position-absolute rounded-pill text-white h-100"
                        style="top: 0; right: 0;">Subscribe Now</button>
                        <!-- appAlertdirective -->
                </div>
            </div>
            <div class="col-lg-5">
                <div class="rounded">
                    <img src="https://images.pexels.com/photos/3776776/pexels-photo-3776776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        class="img-fluid rounded w-100 rounded" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->







<!-- Footer Start -->
<div class="container-fluid bg-dark footer py-5">
    <div class="container py-5">

        <div class="row g-5">
            <div class="col-lg-6 col-xl-3">
                <div class="footer-item-1">
                    <h4 class="mb-4 text-white">Get In Touch</h4>
                    <p class="text-secondary line-h">Address: <span class="text-white">Kottayam, India</span></p>
                    <p class="text-secondary line-h">Email: <span class="text-white">melvin@gmail.com</span></p>
                    <p class="text-secondary line-h">Phone: <span class="text-white">+91 9207008545</span></p>
                    <div class="d-flex line-h">
                        <a class="btn btn-light me-2 btn-md-square rounded-circle" href=""><i
                                class="fab fa-twitter text-dark"></i></a>
                        <a class="btn btn-light me-2 btn-md-square rounded-circle" href=""><i
                                class="fab fa-facebook-f text-dark"></i></a>
                        <a class="btn btn-light me-2 btn-md-square rounded-circle" href=""><i
                                class="fab fa-youtube text-dark"></i></a>
                        <a class="btn btn-light btn-md-square rounded-circle" href=""><i
                                class="fab fa-linkedin-in text-dark"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="footer-item-2">
                    <div class="d-flex flex-column mb-4">
                        <h4 class="mb-4 text-white">Recent Posts</h4>
                        <a href="#">
                            <div class="d-flex align-items-center">
                                <div class="rounded-circle border border-2 border-primary overflow-hidden">
                                    <img src="../../assets/img/footer-6.jpg"
                                        class="img-zoomin img-fluid rounded-circle w-100" alt="">
                                </div>
                                <div class="d-flex flex-column ps-4">
                                    <p class="text-uppercase text-white mb-3">Life Style</p>
                                    <a href="#" class="h6 text-white">
                                        Know more abt Real Life
                                    </a>
                                    <small class="text-white d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9,
                                        2024</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="d-flex flex-column">
                        <a href="#">
                            <div class="d-flex align-items-center">
                                <div class="rounded-circle border border-2 border-primary overflow-hidden">
                                    <img src="../../assets/img/footer-5.jpg"
                                        class="img-zoominimg-fluid rounded-circle w-100" alt="">
                                </div>
                                <div class="d-flex flex-column ps-4">
                                    <p class="text-uppercase text-white mb-3">Adventure</p>
                                    <a href="#" class="h6 text-white">
                                        Those who love adventure
                                    </a>
                                    <small class="text-white d-block"><i class="fas fa-calendar-alt me-1"></i> Oct 28,
                                        2023</small>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="d-flex flex-column text-start footer-item-3">
                    <h4 class="mb-4 text-white">Book your trip</h4>
                    <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i>
                        Accomodation</a>
                    <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i> Cheap
                        Flights</a>
                    <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i> Travel
                        Insurance</a>
                    <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i> Destiation
                        Guide</a>
                    <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i> Travel
                        Cards</a>
                    <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i>
                        Guidebooks</a>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="footer-item-4">
                    <h4 class="mb-4 text-white">Our Gallary</h4>
                    <div class="row g-2">
                        <div class="col-4">
                            <div class="rounded overflow-hidden">
                                <img src="https://images.pexels.com/photos/1224762/pexels-photo-1224762.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                    class="img-zoomin img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="rounded overflow-hidden">
                                <img src="https://images.pexels.com/photos/842788/pexels-photo-842788.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                    class="img-zoomin img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="rounded overflow-hidden">
                                <img src="https://images.pexels.com/photos/960919/pexels-photo-960919.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                    class="img-zoomin img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="rounded overflow-hidden">
                                <img src="https://images.pexels.com/photos/2262626/pexels-photo-2262626.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                    class="img-zoomin img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="rounded overflow-hidden">
                                <img src="https://images.pexels.com/photos/258447/pexels-photo-258447.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                    class="img-zoomin img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="rounded overflow-hidden">
                                <img src="https://images.pexels.com/photos/5604369/pexels-photo-5604369.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                    class="img-zoomin img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->